
//- VARIABLES
include variables.pug

//- DOCUMENT
doctype html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd"
html(lang="en")
  head
    include head.pug
  body 
    h1 Welcome to MedAI API
    p
      a(href="https://documenter.getpostman.com/view/31365819/2s9YkgC5J5" title="") API Documentation here
    p
      a(href="https://medai.adaptable.app/api/v1" title="") Base URL for API here
    p
      a(href="https://medai.adaptable.app/" title="") Base URL for socket connection here
    p
      a(href="https://martian-crescent-226581.postman.co/workspace/My-Workspace~36dc69c3-1722-4718-8ee6-36e9fd6fd40f/collection/6572e9e9bbd4b43e3f71205c?action=share&creator=31365819&active-environment=31365819-a56f8591-544f-468e-96e1-1a8179067472" title="") Postman Workspace for socket io connection testing
    p
      a(href="https://martian-crescent-226581.postman.co/workspace/My-Workspace~36dc69c3-1722-4718-8ee6-36e9fd6fd40f/collection/31365819-9ab21fe9-09ae-4b57-bb00-1976132bdb82?action=share&creator=31365819&active-environment=31365819-a56f8591-544f-468e-96e1-1a8179067472" title="") Postman workspace for API