//- site variables 
- const server_url = process.env.SERVER_URL;
- const client_url = process.env.CLIENT_URL;

//- CSS Color Variables
- primary = '#663399';
- secondary = '#E6E6FA';
- white = '#ffffff';
- grey = '#191E2F';
- accent = '#FF69B4'
