
extends layout.pug

block styles 
  style 
    include ../animations.css
block content
  div(style={padding: '20px 15px', 'font-family': ff, color: grey,})
    img(src='https://www.svgrepo.com/show/243547/confetti.svg'
      width='50' height='50' alt="confetti" 
      style={position: 'absolute', margin: '0 auto', width: '100%', height: '100%', 'transform-origin': 'center', position: 'relative', 'display': 'block', width: '250px', height: '250px', animation: 'confetti 5s linear infinite alternate'})
    h1(style={'font-weight': '400', 'font-size': '36px', 'text-transform': 'capitalize'}) Hi there,

    p Welcome to 
      a(href=clientUrl + '/about') MedAI
      |
      | and we'd like to personally thank you for signing up to our service.
    p You are now one step closer getting to the peak of good health!
    |
    p We established 
      a(href=clientUrl + '/about') MedAI 
      |
      | to help you attain the healthy life you so desire
    |
    p Please follow this 
      a(href=emailVerificationLink ) link
      |to verify your email. We are here to serve you.

    p Best,
    p Everyone At MedAI.
block foot
  p(style={opacity: '.7', color: grey, 'border': '1px solid', 'border-color': 'transparent', 
    'border-bottomm-color': grey, padding: '20px 15px', 'text-align': 'center'}) 
    | &copy; 2023 MedAI


